<a href="https://colab.research.google.com/github/guilhermevicente11/running_analise/blob/main/dataset_running.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#a maioria das colunas estão como objeto, ajeita-las
#tratar as colunas de date e time 
#dividr a coluna de data em 4 colunas: dia,mes,ano e hora
#definir uma série temporal de corrida por ano(e avaliar a cada mês)
#definir o total de km que ele corre por ano
#até que mês ele correu em 2020? temos pandemia. como foi o desempenho dele nesse ano.
#quantas calorias ele queimou no total por ano

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/guilhermevicente11/running_analise/main/activity_log.csv')
df.head(5)

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Elev Gain,Elev Loss,Avg Stride Length,Best Lap Time,Number of Laps
0,Running,7/15/20 9:41,Cherry Hill Running,6.00,530,0:43:55,141,160,176,182,7:19,6:20,169,173,1.26,00:02.3,7
1,Running,7/14/20 17:45,Cherry Hill Running,6.50,587,0:47:04,144,160,172,182,7:14,6:35,183,187,1.29,03:32.7,7
2,Running,7/13/20 18:57,Cherry Hill Running,5.01,392,0:40:29,128,151,170,180,8:05,5:49,124,124,1.17,00:04.1,6
3,Running,7/12/20 18:44,Cherry Hill Running,7.01,633,0:52:55,142,157,172,180,7:33,5:00,215,219,1.24,00:05.1,8
4,Running,7/11/20 19:35,Cherry Hill Running,5.19,419,0:41:35,129,143,170,178,8:01,6:48,76,80,1.18,01:27.1,6

In [ ]:
df[['Avg HR','Max HR']]

In [68]:
#substintuindo os tracinhos por zero
df = df.replace('--','0')

In [109]:
df['Elev Gain'] = df['Elev Gain'].astype(str)

In [111]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      689 non-null    object
 1   Date               689 non-null    datetime64[ns]
 2   Title              689 non-null    object
 3   Distance           689 non-null    float64
 4   Calories           689 non-null    object
 5   Time               689 non-null    int64
 6   Avg HR             689 non-null    float64
 7   Max HR             689 non-null    float64
 8   Avg Run Cadence    689 non-null    float64
 9   Max Run Cadence    689 non-null    float64
 10  Avg Pace           689 non-null    object
 11  Best Pace          689 non-null    object
 12  Elev Gain          689 non-null    object
 13  Elev Loss          689 non-null    object
 14  Avg Stride Length  689 non-null    float64
 15  Best Lap Time      689 non-null    object
 16  Number of Laps     689 non-null    int64
dtypes: datetime64[ns](1), float64(6), int64(2), object(8)
memory usage: 91.6+ KB

In [110]:
df['Elev Gain'].unique()

array(['169', '183', '124', '215', '76', '16', '7', '20', '25', '23',
       '19', '44', '39', '199', '233', '221', '198', '137', '205', '138',
       '105', '47', '200', '49', '22', '57', '220', '109', '102', '279',
       '139', '134', '75', '135', '150', '195', '108', '34', '133', '180',
       '178', '116', '96', '146', '189', '87', '191', '92', '208', '142',
       '144', '182', '130', '148', '164', '269', '118', '171', '214',
       '93', '113', '97', '112', '100', '132', '188', '174', '81', '106',
       '143', '86', '149', '89', '79', '46', '101', '60', '54', '77',
       '67', '31', '51', '48', '17', '45', '21', '40', '64', '43', '192',
       '163', '117', '107', '123', '179', '136', '152', '63', '13', '12',
       '29', '128', '110', '115', '306', '103', '262', '73', '238', '229',
       '154', '121', '125', '70', '170', '3', '0', '363', '353', '37',
       '88', '748', '781', '573', '227', '764', '82', '196', '535', '187',
       '114', '352', '65', '838', '962', '4', '61', '406', '891', '282',
       '400', '173', '153', '177', '405', '862', '783', '477', '291',
       '468', '27', '38', '26', '24', '78', '487', '985', '905', '90',
       '682', '71', '483', '519', '971', '462', '449', '475', '260', '56',
       '463', '430', '541', '516', '58', '120', '694', '32', '83', '724',
       '506', '305', '184', '41', '10', '531', '1,026', '434', '546',
       '68', '538', '818', '403', '757', '270', '766', '578', '819',
       '750', '492', '224', '84', '1,101', '155', '236', '887', '1,061',
       '618', '393', '119', '1,054', '780', '643', '190', '36', '35',
       '679', '827', '264', '411', '664', '167', '534', '793', '799',
       '33', '627', '42', '497', '680', '11', '330', '695', '80', '159',
       '526', '821', '62', '28', '313', '256', '219', '278', '176', '900',
       '722', '126', '30', '735', '465', '74', '53', '608', '779', '331',
       '321', '326', '156', '251', '422', '9', '1,134', '437', '273',
       '15', '245', '404', '574', '268', '1,098', '937', '626', '423',
       '157', '14', '836', '479', '50', '85', '606', '520', '211', '168',
       '8', '272', '788', '417', '1,046', '548', '241', '276', '651',
       '1,041', '315', '563', '823', '1,198', '335', '549', '859', '453',
       '1,067', '810', '591', '336', '438', '392', '1,036', '833', '530',
       '495', '470', '161', '537', '685', '151', '927', '202', '172',
       '1,000', '259', '297', '592', '869', '984', '580', '104', '340',
       '317', '261', '203', '494', '376', '394', '314', '964', '194',
       '1,203', '237', '303', '244', '864', '727', '622', '284', '447',
       '657', '426', '145', '433', '884', '193', '246', '693', '610',
       '772', '926', '1,088', '1,262', '140', '399', '296', '507', '804',
       '540', '186', '671', '719', '91', '312', '575', '721', '424',
       '325', '398', '872', '440', '419', '701', '302', '555', '669',
       '382', '322', '197'], dtype=object)

In [104]:
#convertendo colunas para float
df['Distance'] = df['Distance'].astype(float)
df[['Avg HR','Max HR']] = df[['Avg HR','Max HR']].astype(float)
df[['Avg Run Cadence','Max Run Cadence']] = df[['Avg Run Cadence','Max Run Cadence']].astype(float)
df[['Elev Gain','Elev Loss']] = df[['Elev Gain','Elev Loss']].astype(float)

ValueError: could not convert string to float: '1,026'

In [ ]:
df['']

In [ ]:
df.info()

In [ ]:
d

In [47]:
#transformar dados da coluna calories -- para 0
df['Calories'] = df['Calories'].replace('--','0')

In [63]:
df['Calories'] = df['Calories'].astype(str)
df['Calories'] = df['Calories'].replace(',','.')

In [ ]:
#Transformar a coluna em numérica
df['Calories'] = pd.to_numeric(df['Calories'])

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

In [ ]:
df['Time'].unique()

In [ ]:
ano2020 = df['Date'].dt.year == 2020
df[ano2020]

In [ ]:
df['Date']

In [24]:
df['Time'] = pd.to_datetime(df['Time']).dt.hour * 60 + pd.to_datetime(df['Time']).dt.minute

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      689 non-null    object
 1   Date               689 non-null    datetime64[ns]
 2   Title              689 non-null    object
 3   Distance           689 non-null    float64
 4   Calories           689 non-null    object
 5   Time               689 non-null    int64
 6   Avg HR             689 non-null    object
 7   Max HR             689 non-null    object
 8   Avg Run Cadence    689 non-null    object
 9   Max Run Cadence    689 non-null    object
 10  Avg Pace           689 non-null    object
 11  Best Pace          689 non-null    object
 12  Elev Gain          689 non-null    object
 13  Elev Loss          689 non-null    object
 14  Avg Stride Length  689 non-null    float64
 15  Best Lap Time      689 non-null    object
 16  Number of Laps     689 non-null    int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(12)
memory usage: 91.6+ KB

In [ ]:
#recordes pessoais por ano(distancia)
#distancia percorrida por ano()
#total calorias gastas por ano
#distancia total por ano
#serie temporal por mês em cada ano (2018,2019,2020)
#