<a href="https://colab.research.google.com/github/guilhermevicente11/running_analise/blob/main/dataset_running.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [227]:
#tratamento
#a maioria das colunas estão como objeto, ajeita-las
#tratar as colunas de date e time 
#dividr a coluna de data em 4 colunas: dia,mes,ano e hora
#remover virgulas das colunas: calorias,eleven gain e loss gain




#definir uma série temporal de corrida por ano(e avaliar a cada mês)
#definir o total de km que ele corre por ano
#até que mês ele correu em 2020? temos pandemia. como foi o desempenho dele nesse ano.
#quantas calorias ele queimou no total por ano

In [228]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [240]:
df = pd.read_csv('https://raw.githubusercontent.com/guilhermevicente11/running_analise/main/activity_log.csv', thousands=',')
df.head(5)

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Elev Gain,Elev Loss,Avg Stride Length,Best Lap Time,Number of Laps
0,Running,7/15/20 9:41,Cherry Hill Running,6.00,530,0:43:55,141,160,176,182,7:19,6:20,169,173,1.26,00:02.3,7
1,Running,7/14/20 17:45,Cherry Hill Running,6.50,587,0:47:04,144,160,172,182,7:14,6:35,183,187,1.29,03:32.7,7
2,Running,7/13/20 18:57,Cherry Hill Running,5.01,392,0:40:29,128,151,170,180,8:05,5:49,124,124,1.17,00:04.1,6
3,Running,7/12/20 18:44,Cherry Hill Running,7.01,633,0:52:55,142,157,172,180,7:33,5:00,215,219,1.24,00:05.1,8
4,Running,7/11/20 19:35,Cherry Hill Running,5.19,419,0:41:35,129,143,170,178,8:01,6:48,76,80,1.18,01:27.1,6

In [246]:
#transformar -- para zero
df = df.replace('--','0')

In [249]:
#Transformar a coluna em numérica
df['Avg HR'] = pd.to_numeric(df['Avg HR'])
df['Max HR'] = pd.to_numeric(df['Max HR'])
df['Avg Run Cadence'] = pd.to_numeric(df['Avg Run Cadence'])
df['Max Run Cadence'] = pd.to_numeric(df['Max Run Cadence'])

In [263]:
#Transformar a coluna de data em classe de data
df['Date'] = pd.to_datetime(df['Date'])

In [259]:
#transformando calorias para float OK !! Já conferi que está tudo certinho
df['Calories'] = df['Calories'].str.replace(',', '').astype(float)

In [ ]:
#Conferindo calorias
df.query('Calories > 1000')

In [247]:
#eliminando as virgulas de elev gain e transformando em int
df['Elev Gain'] = df['Elev Gain'].str.replace(',', '').astype(int)

In [ ]:
df[(df['Elev Gain'] < 169)]

In [ ]:
#criar filtragem por ano
ano2020 = df['Date'].dt.year == 2020 
df[ano2020]

In [261]:
df['Time'] = pd.to_datetime(df['Time']).dt.hour * 60 + pd.to_datetime(df['Time']).dt.minute

In [ ]:
df['Best Lap Time'] = pd.to_datetime(df['Best Lap Time'])

In [269]:
df.head(5)

,Activity Type,Date,Title,Distance,Calories,Time,Avg HR,Max HR,Avg Run Cadence,Max Run Cadence,Avg Pace,Best Pace,Elev Gain,Elev Loss,Avg Stride Length,Best Lap Time,Number of Laps
0,Running,2020-07-15 09:41:00,Cherry Hill Running,6.00,530.0,43,141,160,176,182,7:19,6:20,169,173,1.26,2022-12-08 00:02:18,7
1,Running,2020-07-14 17:45:00,Cherry Hill Running,6.50,587.0,47,144,160,172,182,7:14,6:35,183,187,1.29,2022-12-08 03:32:42,7
2,Running,2020-07-13 18:57:00,Cherry Hill Running,5.01,392.0,40,128,151,170,180,8:05,5:49,124,124,1.17,2022-12-08 00:04:06,6
3,Running,2020-07-12 18:44:00,Cherry Hill Running,7.01,633.0,52,142,157,172,180,7:33,5:00,215,219,1.24,2022-12-08 00:05:06,8
4,Running,2020-07-11 19:35:00,Cherry Hill Running,5.19,419.0,41,129,143,170,178,8:01,6:48,76,80,1.18,2022-12-08 01:27:06,6

In [ ]:
df.info()

In [251]:
df['Elev Loss'] = df['Elev Loss'].str.replace(',', '').astype(int)

In [ ]:
df[(df['Elev Loss'] < 200)]

In [271]:
#removendo colunas desnecessárias para a análise
df.drop(columns = ['Best Lap Time','Number of Laps'], inplace = True)

In [273]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 689 entries, 0 to 688
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Activity Type      689 non-null    object
 1   Date               689 non-null    datetime64[ns]
 2   Title              689 non-null    object
 3   Distance           689 non-null    float64
 4   Calories           689 non-null    float64
 5   Time               689 non-null    int64
 6   Avg HR             689 non-null    int64
 7   Max HR             689 non-null    int64
 8   Avg Run Cadence    689 non-null    int64
 9   Max Run Cadence    689 non-null    int64
 10  Avg Pace           689 non-null    object
 11  Best Pace          689 non-null    object
 12  Elev Gain          689 non-null    int32
 13  Elev Loss          689 non-null    int32
 14  Avg Stride Length  689 non-null    float64
dtypes: datetime64[ns](1), float64(3), int32(2), int64(5), object(4)
memory usage: 75.5+ KB

In [ ]:
#recordes pessoais por ano(distancia)
#distancia percorrida por ano()
#total calorias gastas por ano
#distancia total por ano
#serie temporal por mês em cada ano (2018,2019,2020)
#

In [274]:
df.to_csv('running_tratatada.csv')